<div fxLayout="row" fxLayoutAlign="center">
  <div fxFlex="50">
    <div fxLayout="row" fxLayoutAlign="space-evenly center">
      <!-- <div fxLayout="row">
        <mat-form-field *ngIf="!generated" appearance="standard">
          <mat-label>Total</mat-label>
          <input type="number" min="1" max="100" [(ngModel)]="total" matInput>
        </mat-form-field>
        <mat-form-field *ngIf="generated" appearance="standard">
          <mat-label>Size</mat-label>
          <input type="number" min="1" max="100" [(ngModel)]="size" matInput>
        </mat-form-field>
      </div> -->
      <button *ngIf="generated" mat-raised-button (click)="getMessages(size); generated=false;">Fetch messages</button>
      <button *ngIf="!generated" mat-raised-button (click)="generateMessages(total); generated=true;">Generate</button>
    </div>

    <div fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="center" *ngFor="let message of listMessages; index as i; first as isFirst">
          {{message}}
      </div>
    </div>
  </div>
</div>
